{% extends 'base.html.twig' %}

{% block body %}

    <img src="{{ asset('/images/mg.png') }}" alt"mg" width="150px" class="rounded shadow-md mt-10">

    <h1 class="text-3xl sm:text-5xl font-semibold text-indigo-600 mt-5 mb-5">Hello from Bordeaux !</h1>

    <p>Réalisé avec <span class="text-pink-500"> &hearts; </span> par Matt</p>

    <p class="text-lg text-gray-800">Il est actuellement {{ 'now'|date('H:i') }}</p>

{% endblock %}