{% extends 'base.html.twig' %}

{% block title 'Labo | ' ~ parent() %}

{% block body_attributes %}{{ parent() }} {% endblock %}
{% block body %}

    <img src="{{ asset('/images/labo.jpg') }}" alt"labo Frankenstein" width="250px" class="rounded shadow-md mt-10 mb-10">

    <h1 class="text-3xl sm:text-5xl font-semibold text-indigo-600 mt-5 mb-5">Labo</h1>

    <h2>Pêle mêle
    <video src="{{ asset('videos/ml.mp4') }}" width="640" height="360" controls>
        Votre navigateur ne prend pas en charge la lecture de vidéos.
    </video>


    <h2>Black hole fun</h2>
    <audio controls>
        <source src="{{ asset('music/Soudgarden.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    Soudgarden.mp3

{% endblock %}