{% extends 'base.html.twig' %}

{% block title 'Studies | ' ~ parent() %}

{% block body %}
    <img src="{{ asset('/images/music.jpeg') }}" alt"tigre" width="250px" class="rounded mb-5">

    <h1 class="text-3xl sm:text-5xl font-semibold text-indigo-600 mt-5 mb-5">Music</h1>

    <p class="text-gray-800 mt-10">L'oreille est hardie, un peu comme Françoise. La musique est une drogue donc il faut trouver un bon dealer.</p>



    <div>
        <audio controls>
            <source src="{{ asset('music/LV88.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>


{% endblock %}