{% extends 'base.html.twig' %}

{% block title 'Projects | ' ~ parent() %}

{% block body %}

    <div class="flex">
        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <h2 class="text-gray-700 text-xl font-bold p-4">Velowash</h2>
            <a href="https://velowash-f37b8c65ebd2.herokuapp.com/">
                <img src="{{ asset('/images/velowash.jpg') }}" alt="Velowash" class="w-full h-64 project-image">
            </a>
            <div class="px-6 py-4">
                <p class="text-gray-700 text-base">
                    Velowash développé en PHP et JS.
                </p>
            </div>
        </div>
        

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <h2 class="text-gray-700 text-xl font-bold p-4">Hello MG</h2>
            <img src="{{ asset('/images/helloMG.jpg') }}" alt="Hello MG" class="w-full h-64 project-image">
            <div class="px-6 py-4">
                <p class="text-gray-700 text-base">
                    Hello MG développé en PHP Laravel via PHPStorm.
                </p>
            </div>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <h2 class="text-gray-700 text-xl font-bold p-4">Pinterest</h2>
            <a href="https://pinter2-ec3047f8e911.herokuapp.com/">
                <img src="{{ asset('/images/pinterest.jpg') }}" alt="Pinterest" class="w-full h-64 project-image">
            </a>
            <div class="px-6 py-4">
                <p class="text-gray-700 text-base">
                    Pinterest développé en PHP Symfony. 
                    MySQL-Brevo-Bootswatch-Basé sur les teachers du net.
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block styles %}
    <style>
        .project-image {
            object-fit: cover;
        }
    </style>
{% endblock %}