{% extends 'base.html.twig' %}

{% block title 'Studies | ' ~ parent() %}

{% block body %}
    <img src="{{ asset('/images/king.jpg') }}" alt"tigre" width="250px" class="rounded-full mb-5">

    <h1 class="text-3xl sm:text-5xl font-semibold text-indigo-600 mt-5 mb-5">Studies</h1>

    <p class="text-gray-800 mt-10">Mon parcours de formation c'est comme le labyrinthe dans Shining, ou le clown de Stephen King, ça fait peur.</p>

    <p>
        Après un bac Economique et Social, la filère qui permet d'éviter de choisir, j'ai étudié les langues étrangères (anglais et espagnol) jusqu'en 3ème année de Licence. <iframe width="560" height="315" src="https://www.youtube.com/embed/lAY-x_6vFsI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p class="mt-5">
        J'ai par la suite travaillé dans une structure dédiée à l'insertion des élèves en décrochage scolaire.
    </p>
    <p class="mt-5">
        Une licence professionnelle en Science Humaines spécialisée dans le Conseil Emploi Formation Insertion validée en alternance, j'ai travaillé durant 8 ans pour le réseau des Missions Locales, notamment comme référent Justice.
    </p>
    <p class="mt-5">
        A 33 ans j'ai décidé de me consacrer au domaine des ressources humaines. Ayant validé une licence, je suis recruté par l'entreprise qui m'a accueilli en stage lors de ma formation. J'y resterai finalement 7 ans exerçant des missions de gestion opérationnelle, relations clients et conception budgétaire.
    </p>

{% endblock %}