{% extends 'base.html.twig' %}

{% block title 'Studies | ' ~ parent() %}

{% block body %}
    <img src="{{ asset('/images/king.jpg') }}" alt"tigre" width="250px" class="rounded-full mb-5">

    <h1 class="text-3xl sm:text-5xl font-semibold text-indigo-600 mt-5 mb-5">Studies</h1>

    <p class="text-gray-800 mt-10">Mon parcours de formation c'est comme le labyrinthe dans Shining, ou le clown de Stephen King, ça fait peur.</p>

    <p>
        Après un bac Economique et Social, j'ai étudié les langues étrangères (anglais et espagnol) jusqu'en 3ème année de Licence. <iframe width="560" height="315" src="https://www.youtube.com/embed/lAY-x_6vFsI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <p class="mt-5">
        J'ai par la suite travaillé dans le cadre d'un emploi jeune une structure dédiée à l'insertion des élèves en décrochage scolaire. Cette expérience m'ayant motivé pour m'oinvestir d'avantage dans ce secteur j'ai préparé une licence professionnelle en Science Humaines spécialisée dans le Conseil Emploi Formation Insertion validée en alternance. J'ai travaillé durant 8 ans pour le réseau des Missions Locales, notamment comme référent Justice.
    </p>
    <p class="mt-5">
        Désireux de connaître le monde de l'entreprise, j'ai décidé à 33 ans de me spécialiser au domaine des ressources humaines. Après avoir validé une licence en Gestion et Administration du Personnel, je suis recruté par l'entreprise qui m'a accueilli en stage lors de ma formation. J'y resterai finalement 7 ans exerçant des missions de gestion opérationnelle, relations clients, élaboration et suivi du plan de formation et obligations légales.
    </p>
    <p class="mt-5">
        Mon envie d'exercer un métier plus technique et axé sur les nouvelles technologies m'a conduit à entamer une formation de développeur Web en Janvier 2022 pour apprendre les bases HTML/CSS Javascript SQL et PHP.
    </p>

{% endblock %}