{% extends 'base.html.twig' %}

{% block title 'Test | ' ~ parent() %}

{% block body %}

    <div class="flex">
        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <audio controls>
            <source src="{{ asset('music/LV88-HLM.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
            </div>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <h2 class="text-gray-700 text-xl font-bold p-4">Hello MG</h2>
            <img src="{{ asset('/images/helloMG.jpg') }}" alt="Hello MG" class="w-full h-64 project-image">
            <div class="px-6 py-4">
                <p class="text-gray-700 text-base">
                    Hello MG développé en PHP Laravel via PHPStorm.
                </p>
            </div>
        </div>

        <div class="flex-1 max-w-sm rounded overflow-hidden shadow-lg m-4">
            <h2 class="text-gray-700 text-xl font-bold p-4">Pinterest</h2>
            <img src="{{ asset('/images/pinterest.jpg') }}" alt="Pinterest" class="w-full h-64 project-image">
            <div class="px-6 py-4">
                <p class="text-gray-700 text-base">
                    Pinterest développé en PHP Symfony. Basé sur les teachers du net.
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block styles %}
    <style>
        .project-image {
            object-fit: cover;
        }
    </style>
{% endblock %}