<!DOCTYPE html>
<html lang={{ app.request.locale }}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">   
        <title>{% block title %}Helllo MG !{% endblock %}</title>
        
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.4/dist/tailwind.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        

        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>

    {% include 'header.html.twig' %}

    <body  class="flex flex-col justify-between items-center min-h-screen" {% block body_attributes %}{% endblock %}>
        <main class="my-6 flex flex-col items-center justify-center mt-32">
            {% block body %}{% endblock %}
        </main>

    {% include 'footer.html.twig' %}


    </body>
</html>
