<footer class="my-6">
    <div class="footer-content">
        <p class="text-gray-400 footer-links">
        &copy; {{ "now"|date("Y") }} &middot;

        <a href="https://github.com/Matthieu7924"><i class="fa-brands fa-github"></i></a>

        <a href="https://www.linkedin.com/in/matthieu-garban-658708140/?originalSubdomain=fr" class="text-indigo-500 hover:text-indigo-600 underline"><i class="fa-brands fa-linkedin-in"></i></a>

        </p>
</footer>
